@font-face {
  font-family: 'wpGrafie';
  src: url("../fonts/wpGrafie.eot");
  src: url("../fonts/wpGrafie.eot?#iefix") format("embedded-opentype"), url("../fonts/wpGrafie.svg#wpGrafie") format("svg"), url("../fonts/wpGrafie.woff") format("woff"), url("../fonts/wpGrafie.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

:focus {
  outline: 0;
}

html, body {
  overflow-x: hidden;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='submit'] {
  -webkit-appearance: none;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

a,
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Body
 */
body {
  background: #132945 url("../img/bg.png") repeat top center;
}

/**
 * Typography
 */
body, input, textarea {
  font-family: Bitter, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #444444;
  text-shadow: 1px 1px 0 #fff;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'wpGrafie';
  font-style: normal;
}

.icon:before, #reply-title:before {
  font-family: 'wpGrafie';
  content: attr(data-icon);
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

::selection {
  background: #444444;
  color: #f2f3f2;
  text-shadow: none;
}

::-moz-selection {
  background: #444444;
  color: #f2f3f2;
  text-shadow: none;
}

/**
 * Links
 */
a {
  color: #548bd0;
  border-bottom: 1px solid #c4c4c4;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:hover {
  border-bottom-color: #548bd0;
}

.no-link-style {
  color: #444444;
  border: 0;
}

.no-link-style:hover {
  border: 0;
}

/**
 * Helper
 */
.width-960 {
  margin: 0 auto;
  padding: 0 0.625em;
  max-width: 61.25em;
  clear: both;
}

.row {
  width: 100%;
  clear: both;
}

.row:before, .row:after {
  display: table;
  content: "";
}

.row:after {
  clear: both;
}

.row > [class*="span"] {
  float: left;
  margin-left: 2.127659574%;
}

.row > [class*="span"]:first-child {
  margin-left: 0;
}

.row > .span1 {
  width: 6.382978723%;
}

.row > .span2 {
  width: 14.89361702%;
}

.row > .span3 {
  width: 23.404255317%;
}

.row > .span4 {
  width: 31.914893614%;
}

.row > .span5 {
  width: 40.425531911%;
}

.row > .span6 {
  width: 48.93617020799999%;
}

.row > .span7 {
  width: 57.446808505%;
}

.row > .span8 {
  width: 65.95744680199999%;
}

.row > .span9 {
  width: 74.468085099%;
}

.row > .span10 {
  width: 82.97872339599999%;
}

.row > .span11 {
  width: 91.489361693%;
}

.row > .span12 {
  width: 99.99999998999999%;
}

.row > .spanempty {
  padding-top: 1px;
}

/**
 * Header
 */
#banner {
  height: 12.5em;
  background: transparent url("../img/wplogo.png") no-repeat 90% 100%;
}

#logo {
  background: transparent url("../img/logo.png") no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 92px;
  width: 489px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 40px 0 0 20px;
  display: inline-block;
}

/**
 * Page Navigation
 */
#page-navigation #menu-oben {
  float: right;
  position: relative;
}

#page-navigation #menu-oben li {
  display: inline-block;
  font-size: 0.938em;
  margin: 0 1em 0 0;
}

#page-navigation #menu-oben li a {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  display: inline-block;
  padding-top: 0.333em;
}

#page-navigation #menu-oben li:last-child {
  margin: 0;
}

#page-navigation #menu-oben li a:hover,
#page-navigation #menu-oben li a:focus,
#page-navigation #menu-oben .current-menu-item a {
  border-top: 0.333em solid #132945;
  padding-top: 0;
}

#page-navigation #menu-oben li a {
  color: #444444;
  border: 0;
}

#page-navigation #menu-oben li.menu-item-feed a {
  color: #f26535;
}
#page-navigation #menu-oben li.menu-item-feed a:before {
  font-size: 0.867em;
  padding-right: 0.308em;
}
#page-navigation #menu-oben li.menu-item-feed a:hover,
#page-navigation #menu-oben li.menu-item-feed a:focus {
  border-top-color: #f26535;
}

/**
 * Breadcrumb navigation
 */
#breadcrumb-navigation {
  padding-top: 1.875em;
}

#breadcrumb-navigation ul:before {
  font-size: 12px;
  padding-right: 5px;
  color: #5e5e5e;
}

#breadcrumb-navigation ul li {
  display: inline-block;
  font-size: 0.875em;
}

#breadcrumb-navigation .sep {
  color: #5e5e5e;
}

#breadcrumb-navigation a {
  color: #aaaaaa;
  border: 0;
}

#breadcrumb-navigation {
  color: #777777;
}

#breadcrumb-navigation a:hover,
#breadcrumb-navigation a:focus {
  color: #5e5e5e;
}

/**
 * Content
 */
#content-container {
  background: #f2f3f2;
  width: 100%;
  -webkit-box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.8);
  padding-bottom: 40px;
}

/**
 * Index
 */
#about-me {
  padding: 20px 0;
}

#about-me .first {
  font-size: 1.75em;
}

#about-me .second {
  font-size: 1.25em;
}

#about-me .third {
  font-size: 0.938em;
  margin-top: 30px;
}

#about-me .word {
  color: #21759b;
}

#about-me .press {
  color: #464646;
}

#about-me .about-text {
  margin-top: 70px;
}

.section-title {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(47%, transparent), color-stop(47%, #444444), color-stop(52%, #444444), color-stop(52%, transparent));
  background: -webkit-linear-gradient(top, transparent 47%, #444444 47%, #444444 52%, transparent 52%);
  background: -moz-linear-gradient(top, transparent 47%, #444444 47%, #444444 52%, transparent 52%);
  background: -o-linear-gradient(top, transparent 47%, #444444 47%, #444444 52%, transparent 52%);
  background: -ms-linear-gradient(top, transparent 47%, #444444 47%, #444444 52%, transparent 52%);
  background: linear-gradient(top, transparent 47%, #444444 47%, #444444 52%, transparent 52%);
  text-align: center;
  margin-bottom: 10px;
}

#article .section-title {
  border-bottom: 0;
  font-size: 16px;
  font-weight: 400;
}

.section-title span {
  background: #f2f3f2;
  padding: 0 10px;
}

.sidebar > div {
  margin-bottom: 20px;
}

/**
 * Index: Last posts
 */
.list-post-big {
  margin-bottom: 60px;
}

.list-post-big h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.list-post-small {
  margin-bottom: 50px;
}

.list-post-small h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.list-post-small .excerpt {
  font-size: 14px;
}

.list-posts h2 a {
  color: #444444;
  border-bottom: 1px solid #444444;
  display: block;
}

.list-posts h2:hover a,
.list-posts a:hover + h2 a,
.list-posts h2 a:focus,
.list-posts a:focus + h2 a {
  color: #548bd0;
  border-bottom-color: #548bd0;
}

.list-posts .wp-post-image {
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
}

.list-posts .meta {
  margin-top: 10px;
}

.list-posts .date {
  color: #aaaaaa;
  font-size: 12px;
}

.list-posts .more {
  float: right;
  font-size: 14px;
  padding: 2px 4px;
  background: #548bd0;
  color: #fff;
  border: 1px solid #295995;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-shadow: none;
}

.list-post-small .more {
  font-size: 12px;
}

.list-posts .more:hover {
  background: #3470bd;
}

.list-posts .more:active,
.list-posts .more:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #295995;
}

/**
 * Index: Featured posts
 */
#featured-posts h4 {
  color: #aaaaaa;
  font-size: 12px;
  font-style: italic;
}

#featured-posts a {
  font-size: 14px;
}

#featured-posts div {
  margin-bottom: 15px;
}

/**
 * Index: My plugins
 */
#my-plugins a {
  border: none;
}

#my-plugins p {
  margin-bottom: 25px;
  font-size: 14px;
}

#my-plugins a span {
  color: #548bd0;
  border-bottom: 1px solid #c4c4c4;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#my-plugins p:hover span,
#my-plugins a:focus span {
  border-bottom-color: #548bd0;
}

#my-plugins img {
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
}

/**
 * Index: Recommendations
 */
/**
 * Index: My topcis
 */
#my-topics a {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

#my-topics a:after {
  color: #aaaaaa;
  font-size: 12px;
  font-style: italic;
  display: block;
  content: attr(title);
}

/**
 * Article
 */
#article-header {
  margin: 0.313em 0 1.25em;
}

.big-image {
  position: relative;
  line-height: 0;
}

.big-image .vignette {
  -webkit-box-shadow: inset 0 0 30px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 30px -10px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 30px -10px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#article-header #article-title h2 {
  font-weight: 700;
  font-size: 1.875em;
  margin-top: 10px;
}

#article-header #article-title {
  border-bottom: 0.125em solid #444444;
}

#article .description {
  font-style: italic;
  margin-bottom: 1.25em;
  color: #5e5e5e;
}

#article .alignleft {
  display: inline;
  float: left;
  margin-right: 10px;
}

#article .alignright {
  display: inline;
  float: right;
  margin-left: 10px;
}

#article .aligncenter {
  clear: both;
  display: block;
  margin: 20px auto;
}

#article img[class*="wp-image-"] {
  background: #fff;
  padding: 3px;
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#article .wp-caption {
  padding: 3px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
}

#article .wp-caption img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

#article .wp-caption-text {
  font-size: 12px;
  color: #5e5e5e;
}

#article pre {
  clear: both;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 white;
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 white;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 white;
  background: #fefeef;
  padding: 0.231em 0.462em;
  overflow: auto;
  font-size: 0.813em;
  margin: 1.923em 0;
  color: #2b2b2b;
  max-height: 900px;
}

#article pre .code-comment {
  color: #019a01;
}

#article code {
  white-space: nowrap;
  padding: 2px 4px;
  font-size: 0.875em;
  background: #fefeef;
  color: #2b2b2b;
}

#article blockquote {
  position: relative;
  z-index: 2;
  margin: 1.563em 1.25em 1.563em 2.5em;
  font-style: italic;
  color: #5e5e5e;
  border-left: 5px solid #5e5e5e;
  padding-left: 10px;
}

#article ul {
  list-style: square;
  margin: 1.563em 0 1.563em 2.5em;
}

#article ol {
  list-style-type: decimal;
  margin: 1.563em 0 1.563em 2.5em;
}

#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
  clear: both;
}

#article h3 {
  font-size: 19px;
  font-weight: 700;
  border-bottom: 1px dashed #5e5e5e;
  margin: 20px 0;
}

#article h4 {
  color: #132945;
  font-weight: 700;
  border-bottom: 1px dotted #132945;
  margin: 15px 0;
}

#article h5 {
  text-transform: uppercase;
  margin: 10px 0;
}

#article h6 {
  font-size: 14px;
  font-style: italic;
  margin: 10px 0;
}

#article p {
  margin-bottom: 0.75em;
}

#author-box img {
  float: left;
  background: #fff;
  padding: 3px;
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#author-box h3 {
  clear: none;
  float: left;
  font-size: 14px;
  border-bottom: 0;
  margin: 25px 0 0 5px;
}

#author-box p {
  padding-top: 10px;
  clear: both;
  font-style: italic;
  font-size: 14px;
}

#author-box .social-list {
  margin: 0 0 0 5px;
  list-style: none;
  font-size: 12px;
}

#author-box .social-list li {
  display: inline-block;
  padding-right: 7px;
}

.social-list .icon:before, .social-list #reply-title:before {
  padding-right: 5px;
}

.social-list .g:before {
  color: #d2432a;
}

.social-list .t:before {
  color: #49a4d3;
}

.social-list .f:before {
  color: #667caa;
}

#article #related-title {
  border-bottom: 0;
  font-size: 1.25em;
  margin: 1.5em 0 1.25em;
}

#article #related-title:before {
  padding-right: 5px;
}

#related-posts-row .span6 div {
  margin: 0 auto;
  max-width: 310px;
}

#related-posts-row a span {
  color: #548bd0;
  border-bottom: 1px solid #c4c4c4;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#related-posts-row .span6:hover span,
#related-posts-row a:focus span {
  border-bottom-color: #548bd0;
}

#related-posts-row img {
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
}

.wide-break {
  margin: 0 0 0 -2000px;
  padding: 0 0 0 2000px;
}

/**
 * Schnipsel: Archiv
 */
.top-desc {
  margin: 10px 0 25px;
  color: #aaaaaa;
  font-size: 14px;
}

.bubbles {
  text-align: justify;
}

.bubbles li {
  display: inline;
  font-size: 13px;
  text-shadow: none;
}

.bubbles a {
  display: inline-block;
  padding: 2px 4px;
  white-space: nowrap;
  margin: 5px 0 0;
  border: 0;
  color: #f2f3f2;
  background: #548bd0;
}

.bubbles a:hover,
.bubbles a:focus {
  background: #c4c4c4;
}

/**
 * Share box
 */
.share-box {
  margin: 0 10px;
  min-height: 100px;
  border: 1px solid #f2f3f2;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.share-box span {
  color: #f2f3f2;
  text-shadow: 1px 1px 0 #444444;
  font-size: 12px;
  margin: 5px 10px;
  display: block;
}

.share-box > iframe,
.share-box > div {
  margin: 0 10px!important;
}

.twitter {
  background: url("../img/social-t.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8accef), color-stop(100%, #49a4d3));
  background: url("../img/social-t.png"), -webkit-linear-gradient(top, #8accef 0%, #49a4d3 100%);
  background: url("../img/social-t.png"), -moz-linear-gradient(top, #8accef 0%, #49a4d3 100%);
  background: url("../img/social-t.png"), -o-linear-gradient(top, #8accef 0%, #49a4d3 100%);
  background: url("../img/social-t.png"), -ms-linear-gradient(top, #8accef 0%, #49a4d3 100%);
  background: url("../img/social-t.png"), linear-gradient(top, #8accef 0%, #49a4d3 100%);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}

.facebook {
  background: url("../img/social-fb.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5c75a9), color-stop(75%, #2b4d85), color-stop(76%, #6b83b8), color-stop(77%, #6b83b8), color-stop(78%, #667caa), color-stop(100%, #677caa));
  background: url("../img/social-fb.png"), -webkit-linear-gradient(top, #5c75a9 0%, #2b4d85 75%, #6b83b8 76%, #6b83b8 77%, #667caa 78%, #677caa 100%);
  background: url("../img/social-fb.png"), -moz-linear-gradient(top, #5c75a9 0%, #2b4d85 75%, #6b83b8 76%, #6b83b8 77%, #667caa 78%, #677caa 100%);
  background: url("../img/social-fb.png"), -o-linear-gradient(top, #5c75a9 0%, #2b4d85 75%, #6b83b8 76%, #6b83b8 77%, #667caa 78%, #677caa 100%);
  background: url("../img/social-fb.png"), -ms-linear-gradient(top, #5c75a9 0%, #2b4d85 75%, #6b83b8 76%, #6b83b8 77%, #667caa 78%, #677caa 100%);
  background: url("../img/social-fb.png"), linear-gradient(top, #5c75a9 0%, #2b4d85 75%, #6b83b8 76%, #6b83b8 77%, #667caa 78%, #677caa 100%);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}

.googleplus {
  background: url("../img/social-gp.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb6f44), color-stop(100%, #d2432a));
  background: url("../img/social-gp.png"), -webkit-linear-gradient(top, #eb6f44 0%, #d2432a 100%);
  background: url("../img/social-gp.png"), -moz-linear-gradient(top, #eb6f44 0%, #d2432a 100%);
  background: url("../img/social-gp.png"), -o-linear-gradient(top, #eb6f44 0%, #d2432a 100%);
  background: url("../img/social-gp.png"), -ms-linear-gradient(top, #eb6f44 0%, #d2432a 100%);
  background: url("../img/social-gp.png"), linear-gradient(top, #eb6f44 0%, #d2432a 100%);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}

/**
 * Comments
 */
#comments-title,
#reply-title {
  font-weight: 700;
  font-size: 1.25em;
  margin: 1.5em 0 1.25em;
}

#comments-title:before,
#reply-title:before {
  padding-right: 0.25em;
}

.comment-author {
  margin: 0 0 0.625em;
  border-bottom: 1px dotted #c4c4c4;
  padding-bottom: 5px;
}

.comment-author .avatar {
  vertical-align: middle;
}

.comment-text {
  font-size: 0.938em;
}

.comment-text p {
  margin-bottom: 0.8em;
}

.comment-author a {
  color: #2b2b2b;
}

.comment-author a:hover,
.comment-author a:focus {
  border-bottom: 0.063em solid #444444;
}

.author-tag {
  font-size: 0.75em;
  color: #919191;
}

.comment-awaiting-moderation {
  color: #f26535;
  font-size: 0.75em;
}

.comment {
  position: relative;
  margin-bottom: 1.563em;
  padding: 0.625em;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.comment.thread-even {
  background: #f4f8fc;
}

.comment.thread-even .comment {
  background: #f7f7f7;
}

.comment.thread-odd {
  background: #f7f7f7;
}

.comment.thread-odd .comment {
  background: #f4f8fc;
}

.comment.bypostauthor,
.comment .comment.bypostauthor {
  background: #fefeef;
}

.comment .children {
  margin-top: 1.25em;
}

.comment.depth-2 {
  margin-left: 10%;
}

a.comment-permalink,
a.comment-reply-link {
  color: #aaaaaa;
  font-size: 0.75em;
  float: right;
  border: 0;
  text-shadow: none;
}

a.comment-permalink {
  padding-top: 0.438em;
}

a.comment-permalink:focus {
  text-decoration: underline;
}

a.comment-reply-link {
  padding: 2px 4px;
  background: #548bd0;
  color: #fff;
  border: 1px solid #295995;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a.comment-reply-link:hover {
  background: #3470bd;
}

a.comment-reply-link:active,
a.comment-reply-link:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #295995;
}

.comment code {
  padding: 0.133em 0.267em;
  font-size: 0.933em;
  white-space: nowrap;
  background: #fefeef;
  color: #2b2b2b;
}

/**
 * Commentform
 */
#reply-title:before {
  content: 'w';
}

.comment-notes,
.logged-in-as {
  font-size: 0.813em;
  margin-bottom: 1.154em;
  font-style: italic;
}

.required {
  color: red;
  font-style: normal;
}

#commentform label {
  font-size: 0.813em;
  display: block;
}

#commentform input[type="text"],
#commentform textarea {
  font-size: 0.875em;
  background: #f4f8fc;
  border: none;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 0.214em 0.357em;
  margin-bottom: 0.714em;
  width: 80%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.comment.thread-even #commentform input[type="text"],
.comment.thread-even #commentform textarea {
  background: #f7f7f7;
}

#commentform textarea {
  width: 100%;
  resize: vertical;
}

#commentform input[type="text"]:focus,
#commentform textarea:focus {
  -webkit-box-shadow: inset 0 0 0 1px #7ca6db, 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 0 1px #7ca6db, 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 0 1px #7ca6db, 0 0 4px rgba(0, 0, 0, 0.25);
}

#cancel-comment-reply-link {
  font-size: 0.6em;
  color: red;
  border: 0;
}

#cancel-comment-reply-link:hover,
#cancel-comment-reply-link:focus {
  background: red;
  color: #fff;
}

.form-submit {
  overflow: hidden;
  *zoom: 1;
}

#commentform #submit {
  float: right;
  font-size: 0.875em;
  padding: 0.143em 0.286em;
  background: #548bd0;
  color: #fff;
  border: 0.071em solid #295995;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  text-shadow: none;
}

#commentform #submit:hover {
  background: #3470bd;
}

#commentform #submit:active,
#commentform #submit:focus {
  -webkit-box-shadow: inset 0 0.071em 0.143em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0.071em 0.143em rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0.071em 0.143em rgba(0, 0, 0, 0.4);
  background: #295995;
}

/**
 * Archive
 */
#archive-page {
  position: relative;
}

.year-section {
  margin-bottom: 100px;
}

.archive-titles {
  list-style: square;
}

.archive-titles li {
  margin-left: 30px;
}

li.archive-year {
  position: absolute;
  right: 0;
  font-size: 100px;
  line-height: 1;
  list-style: none;
  color: #aaaaaa;
  margin: 0;
}

li.archive-month {
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  margin-top: 10px;
}

/**
 * Plugins
 */
#plugins-page {
  margin-top: 30px;
}

#plugins-page .plugin {
  margin-bottom: 20px;
}

/**
 * Plugin Page Template
 */
.plugin-download a {
  display: block;
  text-align: center;
  background: #f26535;
  color: #f2f3f2;
  padding: 5px 10px;
  border: 1px solid #b5370c;
  cursor: pointer;
  text-shadow: 0 -1px 1px #444444;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.plugin-download a small {
  font-size: 12px;
  font-weight: 400;
}

.plugin-download a:hover {
  background: #e5450f;
}

.plugin-download a:active,
.plugin-download a:focus {
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  background: #cd3e0d;
}

.plugin-info .section-title {
  margin-top: 20px;
}

.plugin-info p,
.plugin-info h4,
.plugin-info li {
  font-size: 14px;
}

#article .plugin-info ul {
  margin: 0.357em 0 0.625em 1.25em;
}

.switch-plugin-desc {
  font-size: 12px;
  float: right;
  margin-bottom: 10px;
}

.description {
  clear: both;
}

/**
 * Footer
 */
#footer {
  background: #444444;
  color: #f2f3f2;
  -webkit-box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.8);
  padding: 40px 0 0;
  position: relative;
}

#footer > div {
  background: transparent url("../img/asteroid.png") no-repeat right bottom;
}

#footer .section-title {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(47%, transparent), color-stop(47%, #f2f3f2), color-stop(52%, #f2f3f2), color-stop(52%, transparent));
  background: -webkit-linear-gradient(transparent 47%, #f2f3f2 47%, #f2f3f2 52%, transparent 52%);
  background: -moz-linear-gradient(transparent 47%, #f2f3f2 47%, #f2f3f2 52%, transparent 52%);
  background: -o-linear-gradient(transparent 47%, #f2f3f2 47%, #f2f3f2 52%, transparent 52%);
  background: -ms-linear-gradient(transparent 47%, #f2f3f2 47%, #f2f3f2 52%, transparent 52%);
  background: linear-gradient(transparent 47%, #f2f3f2 47%, #f2f3f2 52%, transparent 52%);
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0 #111;
}

#footer .section-title span {
  background: #444444;
  padding: 0 10px;
}

#search-input {
  font-size: 0.875em;
  background: #f4f8fc;
  border: none;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 0.214em 0.357em;
  margin-bottom: 0.714em;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#search-input:focus {
  -webkit-box-shadow: inset 0 0 0 1px #7ca6db, 0 0 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 0 1px #7ca6db, 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 0 1px #7ca6db, 0 0 4px rgba(0, 0, 0, 0.25);
}

#page-list {
  font-size: 14px;
}

#page-list a {
  color: #c4c4c4;
  text-shadow: 1px 1px 0 #111;
}

#page-list,
#page-list ul {
  list-style: square;
  margin: 0.714em 0 0 1.429em;
}

#page-list li {
  margin-bottom: 0.357em;
}

#imprint {
  margin-top: 20px;
  color: #111;
  font-size: 11px;
  background: #b81b21;
  display: inline-block;
  float: right;
  padding: 3px 6px;
  position: relative;
  z-index: 2;
  -moz-box-shadow: -2px -2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px -2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: -2px -2px 0 rgba(0, 0, 0, 0.1);
}

#imprint:after {
  content: '';
  position: absolute;
  top: -14px;
  right: 0;
  z-index: -1;
  border: 7px solid #b81b21;
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  -moz-box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.1);
}

#imprint a {
  color: #c4c4c4;
  border-bottom: 0;
  text-shadow: 1px 1px 0 #111;
}

.banner-image,
article img,
.wp-caption,
embed, object, iframe,
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  #article-content {
    width: 100%;
  }

  #article-sidebar {
    width: 100%;
    margin: 0;
  }

  #social-row .span9 {
    width: 100%;
  }

  #social-row .spanempty {
    display: none;
  }

  li.archive-year {
    position: static;
  }

  #about-me {
    display: none;
  }

  #index-sidebar {
    display: none;
  }

  #index-last-posts {
    width: 100%;
    margin-top: 40px;
  }

  #all-terms {
    width: 65.95744680199999%;
  }

  #sitemap {
    display: none;
  }
}
@media (max-width: 600px) {
  #comments-section .span8 {
    width: 100%;
  }

  #comments-section .spanempty {
    display: none;
  }

  #logo {
    width: 400px;
    height: 70px;
  }

  #search {
    width: 100%;
    margin: 0;
  }

  #all-terms {
    display: none;
  }
}
@media (max-width: 480px) {
  #banner {
    height: 6.25em;
  }

  #social-row {
    display: none;
  }

  #logo {
    margin: 0 auto;
    width: 320px;
    height: 50px;
    display: block;
  }
}
