.banner-image,
article img,
.wp-caption,
// embed, object, iframe,
img {
	max-width: 100%;
	height: auto;
}

// From FitVids
.fluid-width-video-wrapper {
	width: 100%;
	position: relative;
	padding: 0;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.row .twitter-tweet-rendered {
    max-width: 100% !important;
}

@media (max-width: 768px) {
	#article-content,
	#social-row .span9,
	#comments-section .span8,
	#article-sidebar,
	#index-last-posts,
	#schnipsel-posts,
	#related-posts-row .span9,
	#article-footer .span9,
	#plugins-page .span8,
	#plugins-page .span4 {
		width: 100%;
	}

	#article-sidebar,
	#plugins-page .span4 {
		margin: 0;
	}

	li.archive-year {
		position: static;
	}

	#about-me,
	#index-last-posts .section-title,
	#index-sidebar,
	#sitemap, // Footer sitemap widget
	#schnipsel-sidebar,
	#schnipsel-top-desc,
	#schnipsel-top-img,
	#schnipsel-posts .section-title {
		display: none;
	}

	#index-last-posts {
		margin-top: rem( 40px );
	}

	#all-terms { // Breite auf span8 erweitern.
		width: 65.95744680851064%;
	}

}

@media (max-width: 600px) {
	#logo {
		width: rem( 500px );
		height: rem( 91px );
	}

	#search {
		width: 100%;
		margin: 0;
	}

	#all-terms {
		display: none;
	}
}

@media (max-width: 550px) {
	#logo {
		width: rem( 450px );
		height: rem( 82px );
	}

	#page-navigation {
		margin: 0;
		float: left;
		width: 100%;
		background: $blue-color;
		padding: 0;
	}

	#page-navigation ul {
		float: none;
	}

	#page-navigation a,
	#page-navigation a:hover,
	#page-navigation a:focus,
	#page-navigation .current-menu-item a {
		text-shadow: rem( 1px 1px 0 ) darken( $grey-color, 20% ) ;
		color: $white-color;
		padding: rem( 5px 0 5px 20px);
		border: 0;
		width: 100%;
	}

	#page-navigation li {
		width: 50%;
		float: left;
		position: relative;
		margin: 0;
		border-bottom: 1px solid $white-color;
	}

	#page-navigation li:nth-child(odd) {
		border-right: 1px solid $white-color;
	}

	#page-navigation li:hover {
		background: lighten( $blue-color, 5%);
	}

	#page-navigation li.menu-item-feed {
		display: none;
	}
}

@media (max-width: 480px) {
	body {
		-webkit-text-size-adjust: none;
	}

	#content-collapse {
		top: rem( 120px );
	}

	#logo {
		margin-top: rem( 20px );
		width: rem( 350px );
		height: rem( 64px );
	}

	.span6.list-post-small {
		width: 100%;
		margin-left: 0;
	}

	.list-post-small .more {
		font-size: rem( 14px );
		padding: rem( 5px );
	}
}

@media (max-width: 400px) {
	html {
		font-size: 18px;
	}

	body {
		background: #fff;
	}

	#index-last-posts{
		margin-top: rem( 20px );
	}

	#entry {
		padding-top: rem( 20px );
	}

	#content-collapse {
		top: 0;
	}

	#page-navigation {
		background: lighten( $blue-color, 5%);
	}

	#page-navigation li:hover {
		background: lighten( $blue-color, 8%);
	}

	#page-navigation ul,
	#banner,
	#breadcrumb-navigation,
	#social-row,
	#related-posts-row {
		display: none;
	}

	#page-navigation li {
		width: 100%;
	}

	#page-navigation li:nth-child(odd) {
		border-right: none;
	}

	a#pull-navi {
		display: block;
	}
}
