.banner-image,
article img,
.wp-caption,
// embed, object, iframe,
img {
	max-width: 100%;
	height: auto;
}

// From FitVids
.fluid-width-video-wrapper {
	width: 100%;
	position: relative;
	padding: 0;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	#article-content {
		width: 100%;
	}

	#article-sidebar {
		width: 100%;
		margin: 0;
	}

	#social-row .span9 {
		width: 100%;
	}

	#social-row .spanempty {
		display: none;
	}

	li.archive-year {
		position: static;
	}

	#about-me {
		display: none;
	}

	#index-sidebar {
		display: none;
	}

	#index-last-posts {
		width: 100%;
		margin-top: 40px;
	}

	#all-terms {
		width: 65.95744680199999%;
	}

	#sitemap {
		display: none;
	}
}

@media (max-width: 600px) {
	#comments-section .span8 {
		width: 100%;
	}

	#comments-section .spanempty {
		display: none;
	}

	#logo {
		width: 400px;
		height: 70px;
	}

	#search {
		width: 100%;
		margin: 0;
	}

	#all-terms {
		display: none;
	}
}

@media (max-width: 480px) {
	#banner {
		height: em(100px);
	}

	#social-row {
		display: none;
	}

	#logo {
		margin: 0 auto;
		width: 320px;
		height: 50px;
		display: block;
	}
}
