// Einstellungen
@import "base";

// Fonts
@font-face {
	font-family: 'wpGrafie';
	src: url('../fonts/wpGrafie.eot');
	src: url('../fonts/wpGrafie.eot?#iefix') format('embedded-opentype'),
		url('../fonts/wpGrafie.svg#wpGrafie') format('svg'),
		url('../fonts/wpGrafie.woff') format('woff'),
		url('../fonts/wpGrafie.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Reset Styles
@import "helper/reset";

/**
 * Body
 */
body {
	background: #132945 url( '../img/bg.png') top center repeat fixed;
}

/**
 * Typography
 */
body, input, textarea {
	font-family: Bitter, sans-serif;
	font-size: rem( 16px );
	line-height: 1.6;
	color: $grey-color;
	text-shadow: rem( 1px 1px 0 #fff );
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'wpGrafie';
	font-style: normal;
}

.icon:before {
	font-family: 'wpGrafie';
	content: attr(data-icon);
}

pre,
code {
	font-family: Menlo, Monaco, "Courier New", monospace;
	text-shadow: none;
}

::selection {
	background: $grey-color;
	color: $white-color;
	text-shadow: none;
}

::-moz-selection {
	background: $grey-color;
	color: $white-color;
	text-shadow: none;
}

/**
 * Links
 */
a {
	color: lighten($blue-color, 40%);
	padding-bottom: rem( 2px );
	border-bottom: 1px solid lighten($grey-color, 50%);
	@include transition( all 0.2s ease-out );
}

a:hover {
	border-bottom-color: lighten($blue-color, 40%);
}

.no-link-style {
	color: $grey-color;
	border: 0;
}

.no-link-style:hover {
	border: 0;
}

// Grid Style
@import "helper/grid";

/**
 * Collapsing Header Effect
 */
#header-collapse {
	width: 100%;
	position: fixed;
	height: rem( 200px );
}

#content-collapse {
	width: 100%;
	position: relative;
	top: rem( 200px );
	z-index: 5;
}

/**
 * Persistent Header
 */
#header-persistent {
	@include box-shadow(
		rem( 0 5px 10px -5px )
		rgba(0, 0, 0, 0.8)
	);
	background: $white-color;
	background: rgba( 242, 243, 242, .9);
	width: 100%;
	position: fixed;
	z-index: 10;
}

#header-persistent > div {
	display: none;
}

#persistent-home-link {
	float: left;
	font-size: rem( 15px );
	font-weight: 700;
	padding-top: rem( 2px );
}

#persistent-home-link a {
	color: $grey-color;
	border: 0;
}

#pers-page-navigation {
	clear: none;
	padding: 0
}

/**
 * Header
 */
#banner {
	height: rem( 200px );
	background: transparent url( '../img/wplogo.png' ) no-repeat 90% 100%;
}

#logo {
	background: transparent url( '../img/logo.png' ) no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: rem( 105px );
	width: rem( 575px );
	background-size: 100%;
	margin: rem( 40px 0 0 20px );
	display: inline-block;
}

/**
 * Page Navigation
 */
.page-navigation ul {
	float: right;
	position: relative;
	font-size: rem( 15px );
}

.page-navigation li {
	display: inline;
	float: left;
	margin: rem( 0 20px 0 0 );
}

.page-navigation a {
	@include transition( none );
	display: inline-block;
	padding-top: rem( 5px );
}

.page-navigation li:last-child {
	margin: 0;
}

.page-navigation a:hover,
.page-navigation a:focus,
.page-navigation .current-menu-item a {
	border-top: rem( 5px solid $blue-color );
	padding-top: 0;
}

.page-navigation a {
	color: $grey-color;
	border: 0;
}

a#pull-navi {
	display: none;
	background: $blue-color;
	font-size: rem( 25px );
}

a#pull-navi:after {
	font-family: 'wpGrafie';
	content: '#';
	position: absolute;
	right: rem( 20px );
}

.page-navigation li.menu-item-feed {
	a {
		color: $orange-color;
	}

	a:before {
		font-size: rem( 13px );
		padding-right: rem( 5px );
	}

	a:hover,
	a:focus {
		border-top-color: $orange-color;
	}
}


/**
 * Breadcrumb navigation
 */
#breadcrumb-navigation {
	padding-top: rem( 30px );
}

#breadcrumb-navigation ul:before {
	font-size: rem( 12px );
	padding-right: rem( 5px );
	color: lighten($grey-color, 10%);
}

#breadcrumb-navigation ul li {
	display: inline-block;
	font-size: rem( 14px );
}

#breadcrumb-navigation .sep {
	color: lighten($grey-color, 10%);
}

#breadcrumb-navigation a {
	color: lighten($grey-color, 40%);
	border: 0;
}

#breadcrumb-navigation {
	color: lighten($grey-color, 20%);
}

#breadcrumb-navigation a:hover,
#breadcrumb-navigation a:focus {
	color: lighten($grey-color, 10%);
}

/**
 * Content
 */
#content-container {
	background: $white-color;
	width: 100%;
	@include box-shadow(
		rem( 0 -5px 10px -5px )
		rgba(0, 0, 0, 0.8)
	);
	padding-bottom: rem( 40px );
}

/**
 * Index
 */
#about-me {
	padding: rem( 20px 0 );
	color: darken( $grey-color, 20% );
}

#about-me .first {
	font-size: rem( 30px );
}

#about-me .second {
	font-size: rem( 20px );
}

#about-me .third {
	margin-top: rem( 30px );
}

#about-me .word {
	color: #21759b
}

#about-me .press {
	color: #464646
}

#about-me .about-text {
	margin-top: rem( 70px );
}

.section-title {
	@include background(
		linear-gradient(
			top,
			transparent 47%,
			darken( $grey-color, 20% ) 47%,
			darken( $grey-color, 20% ) 52%,
			transparent 52%
		)
	);
	text-align: center;
	margin-bottom: rem( 15px );
	color: darken( $grey-color, 20% );
}

.section-title span {
	background: $white-color;
	padding: rem( 0 10px );
}

// Abstand Widgets
.sidebar > div {
	margin-bottom: rem( 25px );
}

/**
 * Index: Last posts
 */
.list-post-big {
	margin-bottom: rem( 50px );
}

.list-post-big h2 {
	font-size: rem( 19px );
	margin-bottom: rem( 15px );
}

.list-post-big p {
	margin-bottom: rem( 8px );
}

.list-post-small {
	margin-bottom: rem( 50px );
}

.list-post-small h2 {
	font-size: rem( 16px );
	margin-bottom: rem( 10px );
}

.list-post-small .excerpt {
	font-size: rem( 14px );
}

.list-posts h2 a {
	color: darken( $grey-color, 20% );
	border-bottom: rem( 1px ) solid $grey-color;
	display: block;
}

.list-posts h2:hover a,
.list-posts a:hover + h2 a,
.list-posts h2 a:focus,
.list-posts a:focus + h2 a {
	color: lighten($blue-color, 40%);
	border-bottom-color: lighten($blue-color, 40%);
}

.list-posts .wp-post-image {
	@include box-shadow(
		rem( 0 1px 3px )
		lighten($grey-color, 40%)
	);
}

.list-posts .meta {
	margin-top: rem( 10px );
}

.list-posts .date {
	color: lighten($grey-color, 40%);
	font-size: rem( 12px );
}

.list-posts .more {
	float: right;
	font-size: rem( 14px );
	line-height: 1;
	padding: rem( 5px );
	background: lighten($blue-color, 40%);
	color: #fff;
	border: rem( 1px ) solid lighten($blue-color, 20%);
	@include transition( all 0.2s ease-out );
	text-shadow: none;
}

.list-post-small .more {
	font-size: rem( 12px );
	padding: rem( 3px );
}

.list-posts .more:hover {
	background: lighten($blue-color, 30%);
}

.list-posts .more:active,
.list-posts .more:focus {
	@include box-shadow(
		inset
		rem( 0 1px 2px )
		rgba(0, 0, 0, 0.4)
	);
	background: lighten($blue-color, 20%);
}

/**
 * Index: Featured posts
 */
#featured-posts h4 {
	color: lighten($grey-color, 40%);
	font-size: rem( 12px );
	font-style: italic;
}

#featured-posts a {
	font-size: rem( 14px );
}

#featured-posts div {
	margin-bottom: rem( 15px );
}

/**
 * Index: My plugins
 */
#my-plugins a {
	border: none;
}

#my-plugins p {
	margin-bottom: rem( 15px );
	font-size: rem( 14px );
}

#my-plugins a span {
	color: lighten($blue-color, 40%);
	border-bottom: rem( 1px ) solid lighten($grey-color, 50%);
	@include transition( all 0.2s ease-out );
}

#my-plugins p:hover span,
#my-plugins a:focus span {
	border-bottom-color: lighten($blue-color, 40%);
}

#my-plugins img {
	@include box-shadow(
		rem( 0 1px 3px )
		lighten($grey-color, 40%)
	);
}

/**
 * Index: Recommendations
 */
#recommendations {}

/**
 * Index: My topcis
 */
#my-topics a {
	display: block;
	font-size: rem( 14px );
	margin-bottom: rem( 15px );
}

#my-topics a:after {
	color: lighten($grey-color, 40%);
	font-size: rem( 12px );
	font-style: italic;
	display: block;
	content: attr(title);
}

/**
 * Article
 */

// Article header image
#article-header,
#taxarchive-title {
	margin: rem( 0 0 20px );
}

.big-image {
	position: relative;
	line-height: 0;
}

.big-image .vignette {
	@include box-shadow(
		inset
		rem( 0 0 30px -10px )
		rgba( 0, 0, 0, 0.8 )
	);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// Article header title
#article-header #article-title,
#taxarchive-title {
	border-bottom: rem( 2px ) solid darken( $grey-color, 20% );
}

#article-header #article-title h2,
#taxarchive-title h2 {
	font-size: rem( 28px );
	margin-top: rem( 5px );
	color: darken( $grey-color, 20% );
}

// Article desc
#article .description {
	font-style: italic;
	margin-bottom: rem( 20px );
	color: lighten($grey-color, 10%);
}

// Article images
#article .alignleft {
	display: inline;
	float: left;
	margin-right: rem( 15px );
}

#article .alignright {
	display: inline;
	float: right;
	margin-left: rem( 15px );
}

#article .aligncenter {
	clear: both;
	display: block;
	margin: rem( 50px auto );
}

#article img[class*="wp-image-"] {
	background: #fff;
	padding: rem( 5px );
	@include box-shadow(
		rem( 0 1px 3px )
		lighten($grey-color, 40%)
	);
	@include box-sizing( content-box );
}

#article .wp-caption {
	padding: rem( 5px );
	background: #fff;
	@include box-shadow(
		rem( 0 1px 3px )
		lighten($grey-color, 40%)
	);
	@include box-sizing( content-box );
}

#article .wp-caption img {
	@include box-shadow( none );
	padding: 0;
}

#article .wp-caption > a {
	border: 0;
}

#article .wp-caption-text {
	text-align: center;
	font-size: rem( 12px );
	color: lighten($grey-color, 10%);
}

#article pre {
	clear: both;
	background: #eee8d5;
	//background: #002B36;
	font-size: rem( 12px );
	@include box-shadow(
		inset
		rem( 1px 1px 3px )
		rgba(0, 0, 0, 0.25)
	);
	padding: rem( 5px 8px );
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size:      4;
}

// Article code blocks
/*#article pre {
	clear: both;
	@include box-shadow(
		inset
		rem( 1px 1px 3px )
		rgba(0, 0, 0, 0.25),
		rem( 1px 1px 0 )
		#fff
	);
	background: #fefeef;
	padding: rem( 5px 8px );
	overflow: auto;
	font-size: rem( 13px );
	margin: rem( 25px 0 );
	color: darken($grey-color, 10%);
	max-height: rem( 900px );
}

#article pre .code-comment {
	color: #019a01;
}*/

.code-block {
	clear: both;
	margin: rem( 25px 0 );
}

.gist-meta {
	font-size: rem( 13px );
	text-align: right;
	background: lighten( $grey-color, 60%);
	padding: rem( 0 10px );
	text-shadow: none;
}

.gist-meta a {
	border: 0;
	color: $grey-color;
}

.dot {
	color: #aeaeae;
}

.gist {
	color: #ff9000;
}

#article .highlighttable {
	table-layout: fixed;
	width: 100%;
}

.linenos {
	width: rem( 35px );
	vertical-align: top;
	text-align: right;
}

.highlight {
	overflow-x: auto;
}

.highlight pre {
	overflow: auto;
}

.code .highlight {
	margin: 0;
}

@import "syntaxhighlight";

#article code {
	padding: rem( 0 3px );
	font-size: rem( 14px );
	background: #eee8d5;
	border-bottom: rem( 1px solid darken( #eee8d5, 10% ) );
	color: darken($grey-color, 10%);
}

// Article blockqoutes
blockquote {
	margin: rem( 50px 0 );
	font-style: italic;
	color: lighten($grey-color, 10%);
	border-left: rem( 3px ) solid $blue-color;
	padding: rem( 0 20px );
}

blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote cite {
	color: $grey-color;
	font-style: normal;
}

// Article lists
#article ul {
	list-style: square;
	margin: rem( 25px 0 25px 30px );
}

#article ol {
	list-style-type: decimal;
	margin: rem( 25px 0 25px 30px );
}

// Article Headlines
#article h2,
#article h3,
#article h4 {
	clear: both;
}

#article h3 {
	font-size: rem( 22px );
	margin: rem( 50px 0 20px );
	color: darken( $grey-color, 20% );
}

#article h4 {
	font-size: rem( 18px );
	color: $blue-color;
	margin: rem( 40px 0 15px );
	font-style: italic;
}

// Article text
#article p {
	margin-bottom: rem( 26px );
}

// Article formatting
#article strong {
	font-weight: 700;
}

#article b {
	font-weight: 700;
	color: $blue-color;
}

#article em {
	font-style: italic;
}

#article i {
	font-style: italic;
	font-family: Georgia;
}

// Button
#article .button {
	font-size: rem( 16px );
	line-height: 1;
	padding: rem( 7px );
	background: lighten($blue-color, 40%);
	color: #fff;
	border: rem( 1px ) solid lighten($blue-color, 20%);
	@include transition( all 0.2s ease-out );
	text-shadow: none;
	display: block;
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

#article .button:hover {
	background: lighten($blue-color, 30%);
}

#article .button:active,
#article .button:focus {
	@include box-shadow(
		inset
		rem( 0 1px 2px )
		rgba(0, 0, 0, 0.4)
	);
	background: lighten($blue-color, 20%);
}


// Article Author
#author-box img {
	float: left;
	background: #fff;
	padding: rem( 3px );
	@include box-shadow(
		rem( 0 1px 3px )
		lighten($grey-color, 40%)
	);
	@include box-sizing( content-box );
}

#author-box h5 {
	clear: none;
	float: left;
	font-size: rem( 14px );
	border-bottom: 0;
	margin: rem( 25px 0 0 5px );
}

#author-box p {
	padding-top: rem( 10px );
	clear: both;
	font-style: italic;
	font-size: rem( 14px );
}

#author-box .social-list {
	margin: 0;
	list-style: none;
	font-size: rem( 12px );
}

#author-box .social-list li {
	display: inline-block;
	padding-right: rem( 7px );
}

.social-list .icon:before {
	padding-right: rem( 5px );
}

.social-list .g:before {
	color: #d2432a;
}

.social-list .t:before {
	color: #49a4d3;
}

.social-list .f:before {
	color: #667caa;
}

// Related article
#article #related-title {
	border-bottom: 0;
	font-size: rem( 20px );
	margin: rem( 40px 0 25px );
}

#article #related-title:before {
	padding-right: rem( 5px );
}

#related-posts-row .span6 div {
	margin: 0 auto;
	max-width: rem( 310px );
}

#related-posts-row a span {
	color: lighten($blue-color, 40%);
	border-bottom: rem( 1px ) solid lighten($grey-color, 50%);
	@include transition( all 0.2s ease-out );
}

#related-posts-row .span6:hover span,
#related-posts-row a:focus span {
	border-bottom-color: lighten($blue-color, 40%);
}

#related-posts-row img {
	@include box-shadow(
		rem( 0 1px 3px )
		lighten($grey-color, 40%) );
}

// http://css-tricks.com/full-browser-width-bars/#comment-94090
.wide-break {
	margin: rem( 0 0 0 -2000px );
	padding: rem( 0 0 0 2000px );
}

/**
 * Schnipsel: Archiv
 */
.top-desc {
	margin: rem( 10px 0 30px );
}

/**
 * Tags
 */
.bubbles {
	text-align: justify;
}

.bubbles li {
	display: inline;
	font-size: rem( 13px );
	line-height: 1;
	text-shadow: none;
}

.bubbles a {
	display: inline-block;
	padding: rem( 5px );
	white-space: nowrap;
	margin: rem( 5px 0 0 );
	border: 0;
	color: $white-color;
	background: lighten($blue-color, 40%);
}

.bubbles a:hover,
.bubbles a:focus {
	background: lighten($grey-color, 50%);
}

/**
 * Share boxes
 */
#social-row {
	margin-top: rem( 30px );
	text-align: left;
}

.share-box {
	margin: rem( 0 10px );
	min-height: rem( 100px );
	border: rem( 1px solid $white-color );
	@include box-shadow(
		rem( 0 1px 3px )
		rgba(0, 0, 0, 0.25)
	);
}

.share-box span {
	color: $white-color;
	text-shadow: rem( 1px 1px 0 $grey-color );
	font-size: rem( 12px );
	margin: rem( 5px 10px );
	display: block;
}

.share-box > iframe,
.share-box > div {
	margin: rem( 0 10px ) !important;
}

.twitter {
	background: #49a4d3;
	@include background(
		url( '../img/social-t.png' ),
		linear-gradient(
			top,
			#8accef 0%,
			#49a4d3 100%
		)
	);
	background-repeat: no-repeat;
	background-position: right bottom, left top;
}

.facebook {
	background: #677caa;
	@include background(
		url( '../img/social-fb.png' ),
		linear-gradient(
			top,
			#5c75a9 0%,
			#2b4d85 75%,
			#6b83b8 76%,
			#6b83b8 77%,
			#667caa 78%,
			#677caa 100%
		)
	);
	background-repeat: no-repeat;
	background-position: right bottom, left top;
}

.googleplus {
	background: #d2432a;
	@include background(
		url( '../img/social-gp.png' ),
		linear-gradient(
			top,
			#eb6f44 0%,
			#d2432a 100%
		)
	);
	background-repeat: no-repeat;
	background-position: right bottom, left top;
}


/**
 * Thank boxes
 */
#article-footer {
	text-align: center;
}

.thanks-link,
.thanks-link:hover {
	text-align: center;
	font-weight: bold;
	margin: rem( 20px 0 );
	padding: rem( 10px 15px );
	display: inline-block;
	background: darken( $white-color, 10%);
	border: rem( 1px solid $white-color );
	@include box-shadow(
		rem( 0 1px 3px )
		darken( $white-color, 20%)
	);
}

.thanks-link:before {
	padding-right: rem( 5px );
	color: brown;
	font-size: rem( 18px );
}

.thank-row {
	margin-bottom: rem( 20px );
}

.thank-box {
	margin: rem( 0 5px );
	min-height: rem( 200px );
	border: rem( 1px solid $white-color );
	@include box-shadow(
		rem( 0 1px 3px )
		rgba(0, 0, 0, 0.25)
	);
	padding: rem( 20px );
	position: relative;
}

.thank-box p {
	color: $white-color;
	text-shadow: rem( 1px 1px 0 $grey-color );
}

.thank-box > a {
	padding: rem( 5px );
	font-size: rem( 14px );
	line-height: 1;
	padding: rem( 5px );
	background: lighten($blue-color, 40%);
	color: #fff;
	border: rem( 1px ) solid lighten($blue-color, 20%);
	@include transition( all 0.2s ease-out );
	cursor: pointer;
	text-shadow: none;
	@include box-shadow(
		rem( 1px 1px 1px )
		rgba(0, 0, 0, 0.4)
	);
}

.thank-box > a:hover {
	background: lighten($blue-color, 30%);
	border: rem( 1px ) solid lighten($blue-color, 20%);
}

.thank-box > a:active,
.thank-box > a:focus {
	@include box-shadow(
		inset
		rem( 0 1px 2px )
		rgba(0, 0, 0, 0.4)
	);
	background: lighten($blue-color, 20%);
}

.thank-box .grey {
	color: $grey-color;
	text-shadow: rem( 1px 1px 0 $white-color );
}

.uberspace {
	background: #292929;
	@include background(
		url( '../img/thanks-uberspace.png' ),
		linear-gradient(
			top,
			#bbb 0%,
			#292929 100%
		)
	);
	background-repeat: no-repeat;
	background-position: right bottom, left top;
}

.uberspace small a {
	font-size: rem( 11px );
	display: block;
	color: $white-color;
	text-shadow: rem( 1px 1px 0 $grey-color );
	margin-top: rem( 20px );
}

.paypal {
	background: #677caa;
	@include background(
		url( '../img/thanks-paypal.png' ),
		linear-gradient(
			top,
			#4382c0 0%,
			#003366 100%
		)
	);
	background-repeat: no-repeat;
	background-position: right bottom, left top;
}

.amazon {
	background: #d2432a;
	@include background(
		url( '../img/thanks-amazon.png' ),
		linear-gradient(
			top,
			#ffcf56 0%,
			#e6a400 100%
		)
	);
	background-repeat: no-repeat;
	background-position: right bottom, left top;
}

.flattr {
	background: #d2432a;
	@include background(
		url( '../img/thanks-flattr.png' ),
		linear-gradient(
			top,
			#91bc5d 0%,
			#86ac57 100%
		)
	);
	background-repeat: no-repeat;
	background-position: right bottom, left top;
}
/**
 * Comments
 */
#comments-title,
#reply-title {
	font-size: rem( 20px );
	margin: rem( 30px 0 25px );
	color: darken( $grey-color, 20% );
}

#comments-title:before,
#reply-title:before {
	padding-right: rem( 5px );
}

.comment-author {
	margin: rem( 0 0 10px );
	border-bottom: rem( 1px ) dotted lighten($grey-color, 50%);
	padding-bottom: rem( 5px );
}

.comment-author .avatar {
	vertical-align: middle;
}

.comment-text {
	font-size: rem( 15px );
}

.comment-text p {
	margin-bottom: rem( 12px );
}

.comment-author a {
	color: darken($grey-color, 10%);
	margin-left: rem( 5px );
}

.comment-author a:hover,
.comment-author a:focus {
	border-bottom: rem( 1px ) solid $grey-color;
}

.author-tag {
	font-size: rem( 12px );
	color: lighten($grey-color, 30%);
}

.comment-awaiting-moderation {
	color: $orange-color;
	font-size: rem( 12px );
}

.comment {
	position: relative;
	margin-bottom: rem( 25px );
	padding: rem( 10px );
	@include box-shadow(
		rem( 0 0 4px )
		rgba(0, 0, 0, 0.25) );
}

.comment.thread-even {
	background: lighten($blue-color, 80%);
}

.comment.thread-even .comment {
	background: lighten($grey-color, 70%);
}

.comment.thread-odd {
	background: lighten($grey-color, 70%);
}

.comment.thread-odd .comment {
	background: lighten($blue-color, 80%);
}

.comment.bypostauthor,
.comment .comment.bypostauthor {
	background: #fefeef;
}

.comment .children {
	margin-top: em(20px);
}

.comment.depth-2 {
	margin-left: 10%;
}

a.comment-permalink,
a.comment-reply-link {
	color: lighten($grey-color, 40%);
	font-size: rem( 12px );
	float: right;
	border: 0;
	text-shadow: none;
}

a.comment-permalink {
	padding-top: rem( 7px );
}

a.comment-permalink:focus {
	text-decoration: underline;
}

a.comment-reply-link {
	padding: rem( 2px 4px );
	background: lighten($blue-color, 40%);
	color: #fff;
	border: rem( 1px ) solid lighten($blue-color, 20%);
	@include transition( all 0.2s ease-out );
}

a.comment-reply-link:hover {
	background: lighten($blue-color, 30%);
}

a.comment-reply-link:active,
a.comment-reply-link:focus {
	@include box-shadow(
		inset
		rem( 0 1px 2px )
		rgba(0, 0, 0, 0.4)
	);
	background: lighten($blue-color, 20%);
}

.comment code {
	white-space: nowrap;
	padding: rem( 0 3px );
	font-size: rem( 14px );
	background: #fefeef;
	border-bottom: rem( 1px solid darken( #fefeef, 10% ) );
	color: darken($grey-color, 10%);
}

/**
 * Commentform
 */
#reply-title:before {
	@extend .icon:before;
	content: 'w';
}

.comment-notes,
.logged-in-as {
	font-size: rem( 13px );
	margin-bottom: rem( 15px );
	font-style: italic;
}

.required {
	color: red;
	font-style: normal;
}

#commentform label {
	font-size: rem( 13px );
	display: block;
}

#commentform input[type="text"],
#commentform textarea {
	font-size: rem( 14px );
	background: lighten($blue-color, 80%);
	border: none;
	@include box-shadow(
		rem( 0 0 4px )
		rgba(0, 0, 0, 0.25)
	);
	padding: rem( 3px 5px );
	margin-bottom: rem( 10px );
	width: 80%;
	@include transition( all 0.2s ease-out );
}

#commentform input[type="text"] {
	line-height: 1;
	padding: rem( 5px );
}

.comment.thread-even #commentform input[type="text"],
.comment.thread-even #commentform textarea {
	background: lighten($grey-color, 70%);
}

#commentform textarea {
	width: 100%;
	resize: vertical;
}

#commentform input[type="text"]:focus,
#commentform textarea:focus {
	@include box-shadow(
		inset
		rem( 0 0 0 1px )
		lighten($blue-color, 50%),
		rem( 0 0 4px )
		rgba(0, 0, 0, 0.25)
	);
}

#cancel-comment-reply-link {
	font-size: rem( 12px );
	color: red;
	border: 0;
}

#cancel-comment-reply-link:hover,
#cancel-comment-reply-link:focus {
	background: red;
	color: #fff;
}

.form-submit {
	@include clearfix();
}

#commentform #submit {
	float: right;
	font-size: rem( 14px );
	line-height: 1;
	padding: rem( 5px );
	background: lighten($blue-color, 40%);
	color: #fff;
	border: rem( 1px ) solid lighten($blue-color, 20%);
	@include transition( all 0.2s ease-out );
	cursor: pointer;
	text-shadow: none;
}

#commentform #submit:hover {
	background: lighten($blue-color, 30%);
}

#commentform #submit:active,
#commentform #submit:focus {
	@include box-shadow(
		inset
		rem( 0 1px 2px )
		rgba(0, 0, 0, 0.4)
	);
	background: lighten($blue-color, 20%);
}

/**
 * Archive
 */
#archive-page {
	position: relative;
}

.year-section {
	margin-bottom: rem( 100px );
}

.archive-titles {
	list-style: square;
}

.archive-titles li {
	margin-left: rem( 30px );
}

span.archive-badge {
	font-size: rem( 9px );
	text-transform: uppercase;
	line-height: 1;
	vertical-align: middle;
	padding: rem( 2px 4px );
	background: lighten($blue-color, 40%);
	color: #fff;
	text-shadow: none;
	@include border-radius( 4px );
	margin: rem( -4px 0 0 5px );
	display: inline-block;
}

li.archive-year {
	position: absolute;
	right: 0;
	font-size: rem( 100px );
	line-height: 1;
	list-style: none;
	color: lighten($grey-color, 40%);
	margin: 0;
}

li.archive-month {
	font-size: rem( 19px );
	list-style: none;
	margin: rem( 30px 0 0 );
	color: darken( $grey-color, 20% );
}

/**
 * Plugins
 */
#plugins-page {
	margin-top: rem( 30px );
}

#plugins-page .plugin {
	margin-bottom: rem( 20px );
}

#plugins-page img {
	@include box-shadow(
		rem( 0 1px 3px )
		lighten($grey-color, 40%)
	);
}

.plugin:hover h3 a {
	border-bottom-color: lighten($blue-color, 40%);
}

/**
 * Plugin Page Template
 */
.plugin-download a {
	display: block;
	text-align: center;
	background: $orange-color;
	color: $white-color;
	padding: rem( 5px 10px );
	border: rem( 1px ) solid darken($orange-color, 20%);
	cursor: pointer;
	text-shadow: rem( 0 -1px 1px ) $grey-color;
	font-weight: 700;
	@include transition( all 0.2s ease-out );
}

.plugin-download a small {
	font-size: rem( 12px );
	font-weight: 400;
}


.plugin-download a:hover {
	background: darken($orange-color, 10%);
}

.plugin-download a:active,
.plugin-download a:focus {
	@include box-shadow(
		inset
		rem( 0 2px 5px )
		rgba(0, 0, 0, 0.4)
	);
	background: darken($orange-color, 15%);
}

.plugin-info .section-title {
	margin-top: rem( 20px );
}

.plugin-info p,
.plugin-info h4,
.plugin-info li {
	font-size: rem( 14px );
}

#article .plugin-info ul {
	margin: rem( 5px 0 10px 20px );
}

.switch-plugin-desc {
	font-size: rem( 12px );
	float: right;
	margin-bottom: rem( 10px );
}

.description {
	clear: both;
}

/**
 * Footer
 */
#footer {
	background: $grey-color;
	color: $white-color;
	@include box-shadow(
		inset
		rem( 0 5px 10px -5px )
		rgba(0, 0, 0, 0.8)
	);
	padding: rem( 40px 0 0 );
	position: relative;
}

#footer > div {
	background: transparent url( '../img/asteroid.png' ) no-repeat right bottom;
}

// http://www.webkrauts.de/2007/06/03/headline-elemente-mit-css-stylen/
#footer .section-title {
	@include background(
		linear-gradient(
			transparent 47%,
			$white-color 47%,
			$white-color 52%,
			transparent 52%
		)
	);
	text-align: center;
	margin-bottom: rem( 10px );
	text-shadow: rem( 1px 1px 0 ) darken( $grey-color, 20% ) ;
	color: $white-color;
}

#footer .section-title span {
	background: $grey-color;
	padding: rem( 0 10px );
}

#search-input {
	font-size: rem( 14px );
	line-height: 1;
	background: lighten($blue-color, 80%);
	border: none;
	@include box-shadow(
		rem( 0 0 4px )
		rgba(0, 0, 0, 0.25) );
	padding: rem( 5px );
	margin-bottom: rem( 10px );
	width: 100%;
	@include transition( all 0.2s ease-out );
}

#search-input:focus {
	@include box-shadow(
		inset
		rem( 0 0 0 1px )
		lighten($blue-color, 50%),
		rem( 0 0 4px )
		rgba(0, 0, 0, 0.25)
	);
}

#page-list {
	font-size: rem( 14px );
}

#page-list a {
	color: lighten($grey-color, 50%);
	text-shadow: rem( 1px 1px 0 ) darken( $grey-color, 20% );
}

#page-list,
#page-list ul {
	list-style: square;
	margin: rem( 10px 0 0 20px );
}

#page-list li {
	margin-bottom: rem( 5px );
}

#imprint {
	margin-top: rem( 20px );
	color: #111;
	font-size: rem( 11px );
	background: #b81b21;
	display: inline-block;
	float: right;
	padding: rem( 3px 6px );
	position: relative;
	z-index: 2;
	@include box-shadow(
		rem( -2px -2px 0 )
		rgba(0,0,0,0.1)
	);
}

#imprint:after {
	content: '';
	position: absolute;
	top: rem( -14px );
	right: 0;
	z-index: -1;
	border: rem( 7px ) solid #b81b21;
	border-top: rem( 7px ) solid transparent;
	border-right: rem( 7px ) solid transparent;
	@include box-shadow(
		rem( -2px 2px 0 )
		rgba(0,0,0,0.1)
	);
}

#imprint a {
	color: lighten($grey-color, 50%);
	border-bottom: 0;
	text-shadow: rem( 1px 1px 0 ) darken( $grey-color, 20% );
}

// Responsive Styles
@import "responsive";
